h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: $gold;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: $plavo;
}

.main-center {
  text-align: center;
}
